$olive: #D2B48C;
$olive: #D2B48C;
$olive: #D2B48C;
$olive-light2: #C49C67;
$olive-light2-blur: #C49C6798;
$olive-light2-blur2: #C49C6754;
$olive-blur: #C49C67a8;
$beige: #EBDECF;
//$dark-beige: #B68A66;
$dark-beige: #C49C67;
$olive-light: #C49C67;
$dark-gray: #ffffff;