@import "/public/const.scss";

$tag-color: $olive;
$background-color: #f0f0f0;
$card-background: white;
$card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
$font-color: #666;
$input-border: #ccc;
$primary-color: rgb(15, 15, 15);


.display{
    display: none;
}
.container {
    max-width: 80%;
    margin: 100px auto;
    padding: 20px;

    .load-more{
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: $olive; 
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;
        margin: 50px auto; 
        display: block; 
        
    }
    .search {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 50px 0;
        h1{
            text-transform: uppercase;
            font-weight: 300;
            font-size: 64px;
            animation: serv2 1s ease;
        }
        .search-container {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            h3{
                margin-bottom: 0;
            }
            input {
                width: 100%;
                padding: 10px;
                border: 1px solid $input-border;
                border-radius: $border-radius;
            }
        }

        .tags-container {
            display: flex;
            padding: 0 10%;
            width: 100%;
            justify-content: center;
            button {
                padding: 15px 30px;
                border: none;
                font-weight: 500;
                border-bottom: 1px solid hsla(0, 0%, 47%, 0.5);
                border-radius: 0;
                margin: 0;
                background: transparent;
                cursor: pointer;
                color: hsla(0, 0%, 47%, 0.85);
                transition: .2s ease;
                &.active {
                    border-bottom: 1px solid black;
                    color: black;
                    background: transparent;
                }
            }
            button:hover{
                color: black;
            }
        }
    }
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 0 0%;
    .article-card {
        position: relative;
        min-width: 40%;
        width: calc(50% - 20px);
        flex: 1; 
        max-width: calc(50% - 10px);
        box-sizing: border-box;
        padding: 60px;
        margin-bottom: 0;
        color: white;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vh;
        transition: .3s ease;
        animation: serv1 1s ease;
        gap: 10px;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            bottom: 0;
            margin-bottom: 0;
            border-radius: 0;
            transition: .5s ease;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            -webkit-transition: .5s ease;
            -moz-transition: .5s ease;
            -ms-transition: .5s ease;
            -o-transition: .5s ease;
}
        h4 {
            margin: 0 0 10px 0;
            color: white;
            font-size: 34px;
            overflow: hidden;
            transition: .3s ease;
            z-index: 1;
            text-align: center;
            transform: translateY(50%);
            opacity: 0;
        }
            span {
                padding: 3px 10px;
                color: white;
                font-size: 16px;
                font-weight: 400;
                z-index: 1;
                text-align: center;
                transform: translateY(100%);
                opacity: 0;
                transition: .3s ease;
            }
    }
    .article-card::before{
        content: "";
        background-image: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
}
    .article-card:hover::before{
        scale: 1.05;
    }
    .article-card::after{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgb(38,38,38);
        background: linear-gradient(0deg, rgba(14, 14, 14, 0.7) 0%, rgba(14, 14, 14,0) 50%, rgba(14, 14, 14,0) 100%);
        background-size: 100% 200%;
        transition: .3s ease;
        background-position: top;
    }
    .article-card:hover::after{
        background-position: bottom;
    }
    .article-card:hover{
        img{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
        }
        h4{
            transform: translateY(0);
            opacity: 1;
            color: white;
        }
        span{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .no-articles {
        width: 100%;
        text-align: center;
        font-size: 1.25em;
        color: $font-color;
    }
  
}
@media (max-width:1500px){
    .container{
        max-width: 90%;
        margin: 100px 5% !important;
    }
    .articles-container {
        margin-top: 50px;
    }
}
@media (max-width:1200px){
    .articles-container {
        margin-top: 50px;
    }
}
@media (max-width:992px){
    .container{
        padding: 0 3% !important;
        max-width: 100%;
        margin: 100px 0% !important;
        .search {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 10px 0;
            h1{
                text-transform: uppercase;
                font-weight: 300;
                font-size: 36px;
                animation: serv2 1s ease;
                text-align: center;
            }
    
            .tags-container {
                display: flex;
                padding: 0 5%;
                width: 100%;
                justify-content: center;
                margin-top: 20px;
                button {
                    padding: 10px 25px;
                    font-size: 12px;
                    border: none;
                    font-weight: 500;
                    border-bottom: 1px solid hsla(0, 0%, 47%, 0.5);
                    border-radius: 0;
                    margin: 0;
                    background: transparent;
                    cursor: pointer;
                    color: hsla(0, 0%, 47%, 0.85);
                    transition: .2s ease;
                    &.active {
                        border-bottom: 1px solid black;
                        color: black;
                        background: transparent;
                    }
                }
                button:hover{
                    color: black;
                }
            }
        }
    }
      .articles-container {
        margin-top: 0px;
        width: 100%;
        padding: 0;
        gap: 10px;
        .article-card {
            position: relative;
            flex: 1; 
            max-width: 100%;
            min-width: 100%;
            box-sizing: border-box;
            padding: 30px;
            color: white;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 35vh;
            transition: .3s ease;
            animation: serv1 1s ease;
            gap: 10px;
            margin-bottom: 0 !important;
            h4 {
                font-size: 20px;
                transform: translateY(0);
                opacity: 1;
            }
                span {
                    transform: translateY(0);
                    opacity: 1;
                    transition: .3s ease;
                }
        }
        .article-card::after{
            background-position: bottom;
        }
        .article-card:hover::after{
            background-position: bottom;
        }
        .article-card:hover{
            h4{
                transform: translateY(0);
                opacity: 1;
                color: white;
            }
            span{
                transform: translateY(0);
                opacity: 1;
            }
        }
        .no-articles {
            width: 100%;
            text-align: center;
            font-size: 1.25em;
            color: $font-color;
        }
    }
}
