@import '/public/const.scss';

.contacts{
    width: 100%;
    .header-contacts{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 200px 10% 100px 10%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        animation: serv2 1s ease;
        h1{
            text-transform: uppercase;
            font-weight: 300;
            position: relative;
            margin-bottom: 20px;
            font-size: 64px;
            //animation: serv2 1s ease;
          }
        
    }
    .body-contacts{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 100px;
        justify-content: space-between;
        align-items: end;
        animation: serv1 1s ease;
        .left-body-contacts{
            display: flex;
            .contacts-square{
                width: 80px;
                height: 80px;
                position: relative;
                padding: 0 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center; 
                align-items: center; 
                transition: .3s ease;
                text-decoration: none;
                svg{
                    transition: scale .3s ease;
                }
            }
            .contacts-square:hover{
                svg{
                    scale: 1.08;
                }
            }
            .contacts-square:first-child{
                color: black;
                svg{
                    width: 82%;
                    height: auto;
                }
            }
            .contacts-square:first-child:hover{
                border-top: 1px solid $dark-beige;
                border-bottom: 1px solid $dark-beige;
                color: $dark-beige;
            }
            .contacts-square:nth-child(2){
                color: black;
                svg{
                    width: 104%;
                }
            }
            .contacts-square:nth-child(2):hover {
                border-top: 1px solid $dark-beige;
                border-bottom: 1px solid $dark-beige;
                color: $dark-beige;
            }
            .contacts-square:nth-child(3){
                color: black;
                svg{
                    width: 82%;
                }
            }
            .contacts-square:nth-child(3):hover {
                border-top: 1px solid $dark-beige;
                border-bottom: 1px solid $dark-beige;
                color: $dark-beige;
            }
        }
    }
    .right-body-contacts{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        //margin-right: auto;
        .right-body-contacts-line-top{
            width: 100%;
            box-shadow: 0 0 0 0.5px black;
            height: 0;
        }
        .right-body-contacts-line-bot{
            width: 100%;
            box-shadow: 0 0 0 0.5px black;
            height: 0;
        }
        .right-body-contacts-content{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            width: 100%;
            div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-bottom: 10px;
                align-items: center;
                svg{
                    fill: $dark-beige;
                }
            }
            .color{
                color: black;
            }
            span{
                align-items: center;
                display: flex;
                gap: 5px;
            }
        }
        h4{
            font-size: 24px;
            font-weight: 400;
            margin: 0;
        }
    }
    .contacts-footer{
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
        margin-bottom: 100px;
        div{
            width: 100% !important;
            height: 500px !important;
        }
        .ymaps-2-1-79-map{
            width: 100% !important;
            height: 100% !important;    
        }
    }
}

@media (max-width: 1450px) {
    .contacts{
        .header-contacts{
            margin: 200px 5% 100px 5%;
            h1{
                font-size: 70px;
            }
        }
        .body-contacts{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}

@media (max-width: 1350px) {
    .contacts{
        .contacts-footer{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
@media (max-width: 1250px) {
    .contacts{
        .header-contacts{
            margin: 130px 5% 100px 5%;
            h1{
                font-size: 70px;
            }
        }
        .body-contacts{
            margin-left: 5%;
            margin-right: 5%;
        }
        .right-body-contacts{
            h4{
                font-size: 20px;
            }
            a{
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 1100px) {
    .contacts{
        .right-body-contacts{
            margin-left: 5%;
            h4{
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 992px) {
    .contacts{
        .header-contacts{
            margin: 130px 3% 40px 3%;
            h1{
                font-size: 46px;
            }
        }
        .body-contacts{
            flex-direction: column-reverse;
            align-items: center;
            height: fit-content;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            gap: 30px;
            .left-body-contacts{
                flex-direction: row;
            }
        }
        .right-body-contacts{
            height: fit-content;
            margin-left: 0;
            width: 100%;
            .right-body-contacts-content{
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                border-bottom: none;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: end;
                    width: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    height: fit-content;
                    gap: 10px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    h4{
                        font-size: 14px;
                    }
                    a{
                        font-size: 12px;
                        p{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}