@import "/public/const.scss";

@keyframes down {
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50%{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
}
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes title {
    0%{
        opacity: 0;
}
    100%{
        opacity: 1;
    }
}

@keyframes title1 {
    0%{
        opacity: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
    100%{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}

@keyframes title2 {
    0%{
        opacity: 0;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
}
    100%{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
.lg-thumb-item{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
.lg-thumb-item.active{
    border-color: $olive-light2 !important;
}
.lg-thumb-item:hover{
    border-color: $olive-light2 !important;
}
.lg-react-element  {
    margin-top: 100px !important;
    margin-bottom: 100px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .gallery-item{
    display: flex;
    min-width: 40%;
    flex: 1;
    img {
      flex: 1;
      width: 100% !important;
      height: auto;
      margin-top: 0 !important;
      object-position: center;
      transition: all 0.3s cubic-bezier(0,0,.5,1);
      -webkit-transition: all 0.3s cubic-bezier(0,0,.5,1);
      -moz-transition: all 0.3s cubic-bezier(0,0,.5,1);
      -ms-transition: all 0.3s cubic-bezier(0,0,.5,1);
      -o-transition: all 0.3s cubic-bezier(0,0,.5,1);
    }
  }
  
  .gallery-item img:hover {
    transform: scale(1.005);
    -webkit-transform: scale(1.005);
    -moz-transform: scale(1.005);
    -ms-transform: scale(1.005);
    -o-transform: scale(1.005);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  

.project-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 70%;
    gap: 60px;
    div{
        font-weight: 600;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        div{
            display: flex;
            flex-direction: column;
            span{
                font-weight: 400;
            }
        }
    }
}
.project-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 15%;
    height: 100vh;
    z-index: 1;
    width: 100%;
    color: white;
    -webkit-box-shadow: 0px -95vh 100vh -5vh rgba(8, 14, 19, 0.55) inset;
    -moz-box-shadow: 0px -95vh 100vh -5vh rgba(8, 14, 19, 0.55) inset;
    box-shadow: 0px -95vh 100vh -5vh rgba(3, 7, 8, 0.55) inset;
    margin-bottom: 0;
    animation: title 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation: title 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    h1{
        font-size: 68px;
        font-weight: 400;
        text-align: center;
        animation: title1 1s ease;
        -webkit-animation: title1 1s ease;
}
    h2{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        animation: title2 1s ease;
        -webkit-animation: title2 1s ease;
}
    .down    
    {
        position: absolute;
        color: white;
        z-index: 0;
        height: 50px;
        width: 50px;
        bottom: 10vh;
        animation: down 2s infinite cubic-bezier(0,0,.5,1);
        -webkit-animation: down 2s infinite cubic-bezier(0,0,.5,1);
        svg
        {
            fill: white;
            height: 50px;
            width: 50px;
        }
    }
}
.project-fon{
    position: fixed;
    z-index: -10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    gap: 10px;
    object-fit: cover;
    object-position: center;
    span{
        font-size: 20px;
    }
}
.article-page {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px 0; 
    box-sizing: border-box; 
    //margin-top: 100vh;
    h1 {
        max-width: 50%;
        text-align: center;
        margin-top: 170px;
        font-size: 2rem; 
        margin-bottom: 10px; 
        font-weight: 600;
    }
    h4{
        margin-top: 100px;
        width: 40%;
        text-align: center;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
    }
    
    img {
        margin-top: 10px;
        width: 70%; 
        height: 70vh; 
        margin-bottom: 0; 
        object-fit: cover; 
    }

  
    p {
        margin-top: 100px;
        width: 100%;
        padding-left: 20%;
        font-size: 1rem;
        margin-bottom: 15px; 
        color: #666; 
    }

    
    .article-text {
        margin-top: 60px;
        font-weight: 400;
        width: 70%; 
        font-size: 1rem; 
        line-height: 1.6; 
        text-align: justify; 
        margin-bottom: 20px; 
        h2{
            text-align: left;
        }
    
    }

    .tags {
        margin-top: 20px; 
        display: flex; 
        flex-wrap: wrap; 
        gap: 10px; 
    }

    .tag {
        background-color: #f1f1f1; 
        border-radius: 4px; 
        padding: 5px 10px; 
        font-size: 0.9rem; 
        color: #333; 
        display: inline-block;
    }
    .back-button {
        margin-top: 30px;
        padding: 8px 25px;
        font-size: 1rem;
        color: black;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s ease;
        margin-bottom: 50px;
    }
    .back-button:hover{
        border: 1px solid $olive;
    }
}
@media(max-width:1600px) {
    .article-page { 
        .article-text {
            margin-top: 100px;
            font-weight: 600;
            width:60%; 
            font-size: 1rem; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px; 
          
    }
}
}
@media(max-width:992px) {
    .lg-react-element  {
        margin-top: 50px !important;
        margin-bottom: 100px;
        width: 100%;
        padding: 0 1%;
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
      }
      
      .gallery-item{
        img {
          flex: 1;
          width: 100% !important;
          height: auto;
          margin-top: 0 !important;
          object-position: center;
          transition: all 0.3s cubic-bezier(0,0,.5,1);
          -webkit-transition: all 0.3s cubic-bezier(0,0,.5,1);
          -moz-transition: all 0.3s cubic-bezier(0,0,.5,1);
          -ms-transition: all 0.3s cubic-bezier(0,0,.5,1);
          -o-transition: all 0.3s cubic-bezier(0,0,.5,1);
        }
      }
    .project-title{
        padding: 0 5%;
        h1{
            font-size: 38px;
            font-weight: 400;
            animation: title1 1s ease;
            -webkit-animation: title1 1s ease;
    }
        h2{
            font-size: 14px;
            font-weight: 300;
            animation: title2 1s ease;
            -webkit-animation: title2 1s ease;
    }
        .down    
        {
            bottom: 20vh;
            svg
            {
                fill: white;
                height: 50px;
                width: 50px;
            }
        }
    }
    .project-info {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 94%;
        gap: 40px;
        div {
            font-weight: 600;
            display: flex;
            flex-direction: row;
            column-gap: 12px;
            font-size: 12px;
        }
    }
    .project-fon{
        h1{
            font-size: 30px;
            padding: 0 10%;
            font-weight: 400;
        }
        span{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }
    .article-page { 
        h1 {
            max-width: 100%;
            width: 100%;
            text-align: center;
            font-size: 24px;
        }
        h4{
            width: 100%;
            text-align: center;
        }
        img{
            width: 100%;
            height: 25vh;
            margin-top: 0;
            margin-bottom: 5px;
        }
        P{
            margin-top: 0px;
            padding-left: 0;
        }
        .article-text {
            margin-top: 30px;
            font-weight: 400;
            width: 94%; 
            font-size: 14px; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px; 
    }
}
}